/*CORES*/
:root{
    --lilás: #c9b8cc; 
    --roxo: #905999; 
    --branco: #fff; 
    --amarelo: #ffec8f; 
    --cinza: #d1cab7;
}   

/*FONTES*/
@font-face{
    font-family: 'alte haas grotesk';
    src: url('./font/alte_haas_grotesk/AlteHaasGroteskRegular.ttf');
}
@font-face{
    font-family: 'richu mast';
    src: url('./font/richu_mast/Richu\ Mast\ Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
}
/*CODE*/
header{
    width: 100%;
    height: 300px;
    display: block;
    float: left;
    background-color: var(--amarelo);
}
/*ANA*/
article{
    width: 70%;
    height: 800px;
    display: block;
    float: left;
    background-color: var(--lilás);
}

section{
    margin: 10px 10px 10px 10px;
}

ul{
    margin-left: 15px;
}

.titulos{
    font-family:'richu mast';
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
}

.info{
    font-family: 'alte haas grotesk';
    font-size: 17px
}


aside{
    width: 30%;
    height: 800px;
    display:block;
    float:left;
    background-color: var(--roxo);
}

footer{
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: var(--cinza);
}

